:root {
  color-scheme: dark light;
  --primary-bg: rgb(255, 255, 255);
  --primary-fg: #000;
}

:focus:not(:focus-visible) {
  outline: none;
}

.dark-mode {
  --primary-bg: #020202;
  --primary-fg: #fff;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: var(--primary-bg);
  color: var(--primary-fg);
}

button {
  font: inherit;
  cursor: pointer;
  display: block;
}

ol {
  max-width: 38ch;
  margin-top: 30px;
  line-height: 1.5;
}

summary {
  cursor: pointer;
}

.controller {
  position: absolute;
  top: 25px;
}

.interstitial-wrapper {
  width: 600px;
  height: 150px;
}

#offline-resources {
  display: none;
}

#dark-mode-toggle {
  position: absolute;
  top: 20px;
  right: 30px;
}

#fullscreen-toggle {
  position: absolute;
  top: 20px;
  right: 120px;
}

*:-webkit-full-screen {
  background-color: var(--primary-bg);
}

html,
body {
  background-color: var(--primary-bg);
}
